@page "/"
@inject HttpClient Http

<h3>Contacts</h3>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contacts)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.PhoneNumbers.FirstOrDefault()?.Number</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ContactDto>? contacts;

    protected override async Task OnInitializedAsync()
    {
        contacts = await Http.GetFromJsonAsync<List<ContactDto>>("api/contacts");
    }
}
